/* * { border: solid gold 1px} */

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  
}
body{
  background-image: url('./components/imgs/barrel.jpg');
  size:cover;
  repeat: no-repeat;
}
img{
  max-width: 75%;
  height:auto;
}
li{
  text-decoration: none;
  list-style: none;
}
